.title {
  text-align: center;
  font-size: 30px;
  color: #f9f6f3;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 20%;
  margin: 5px;
  border: 2px solid #f9f6f3;
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 16px;
  color: #f9f6f3;
  text-align: center;
  padding: 5px;
}

.poster {
  align-self: center;
  width: 80%;
  color: #f9f6f3;
}

.icon-container {
  overflow: hidden;
  margin-top: auto;
}

.mv-icon {
  float: right;
  color: #90cea1;
  padding: 5px;
  font-size: 30px;
  animation-duration: 1.5s;
  cursor: pointer;
}

@keyframes highlight {
  0% {color: #90cea1;}
  50% {color: #08da41;}
  100% {color: #90cea1;}
}

@media screen and (max-width: 1100px) {
  .movie {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .movie {
    width: 33%;
  }
}

@media screen and (max-width: 600px) {
  .movie {
    width: 70%;
  }
}
